<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let object of favouriteObjects">
        <ion-card>
          <img *ngIf="object.imageUrl" [src]="object.imageUrl" alt="image" />
          <ion-card-header>
            <ion-card-title>{{ object.name }}</ion-card-title>
            <ion-card-subtitle>{{ object.type }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ object.description }}</p><br>
            <ion-button [href]="object.link" target="_blank">Learn More</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
