<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Your Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center-content content-wrapper">
  <h1>Explore Your Favourited Celestial Objects</h1>
  <p>Revisit the stars, planets, and galaxies you've saved to your favourites.</p>

  <br><br>
  <h1 *ngIf="isEmpty" class="nothing-saved">Nothing Saved Yet</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" *ngFor="let object of favouriteObjects">
        <ion-card class="object-card">
          <ion-card-header>
            <div class="card-title-wrapper">
              <ion-card-title>{{ object.name }}</ion-card-title>
              <ion-icon
                [name]="isFavourite(object.name) ? 'star' : 'star-outline'"
                (click)="toggleFavourite(object.name); $event.stopPropagation();"
                class="favourite-icon"
              ></ion-icon>
            </div>
            <p class="object-subtitle">{{ object.type }} • Best viewed: {{ object.viewTime }}</p>
          </ion-card-header>
          
          <ion-card-content>
            <a [href]="object.link" target="_blank" rel="noopener noreferrer">
              <img *ngIf="object.imageUrl" [src]="object.imageUrl" alt="{{ object.name }}" class="object-img" />
              <p>{{ object.description }}</p>
            </a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
