<ion-header>
  <ion-toolbar>
    <ion-title class="center-title">Stellar Scope</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- This is empty for now, as per your request -->
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="astronomical-objects" (click)="goToAstroObjects()">
      <ion-label>Explore the Sky</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="astronomical-events" (click)="goToAstronomicalEvents()">
      <ion-label>Astronomy of the Day</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sun-moon-info" (click)="goToSunMoonInfo()">
      <ion-label>Sun & Moon</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
