.center-title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

ion-tab-bar {
  position: relative;
  height: 70px;
  background-color: #fff;
}

ion-tab-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

