<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Sun & Moon Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="data; else loading">
    <ion-card-header>
      <ion-card-title>Sun & Moon Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Sunrise:</strong> {{ data.sunrise }}</p>
      <p><strong>Sunset:</strong> {{ data.sunset }}</p>
      <p><strong>Moonrise:</strong> {{ data.moonrise }}</p>
      <p><strong>Moonset:</strong> {{ data.moonset }}</p>
      <p><strong>Moon Phase:</strong> {{ data.moon_phase }}</p>
      <p><strong>Moon Illumination:</strong> {{ data.moon_illumination }}%</p>
    </ion-card-content>
  </ion-card>
  
  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading Sun & Moon Info...</p>
  </ng-template>
  

</ion-content>
