<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="center-title">Explore the Sky</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center-content content-wrapper">
  <h1>Discover the Stars that Light Up the Night Sky</h1><br>
  <p>Zoom in to explore individual stars, or switch to a different location to see how the night sky looks from across
    the globe.</p>

  <ion-button expand="full" (click)="openStellariumModal()" class="gradient-border-button" fill="clear">View Celestial Map</ion-button>

  <br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" *ngFor="let obj of featuredObjects">
        <a [href]="obj.link" target="_blank" rel="noopener noreferrer">
          <ion-card class="object-card">
            <ion-card-header>
              <ion-card-title>{{ obj.name }}</ion-card-title>
              <p class="object-subtitle">{{ obj.type }} • Best viewed: {{ obj.viewTime }}</p>
            </ion-card-header>
            <ion-card-content>
              <img *ngIf="obj.imageUrl" [src]="obj.imageUrl" alt="{{ obj.name }}" class="object-img" />
              <p>{{ obj.description }}</p>
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>


  <br><br><br>
  <ion-card class="tips-card">
    <ion-card-header>
      <ion-card-title>
        🌌 Stargazing Tips
      </ion-card-title>
      <p class="subtitle">Make the most of your night sky adventure</p>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="tips-list">
        <li><ion-icon name="partly-sunny-outline"></ion-icon> Check the weather for clear skies.</li>
        <li><ion-icon name="location-outline"></ion-icon> Choose a dark, light-pollution-free area.</li>
        <li><ion-icon name="moon-outline"></ion-icon> Let your eyes adjust to the darkness.</li>
        <li><ion-icon name="flashlight-outline"></ion-icon> Use a red flashlight to preserve vision.</li>
        <li><ion-icon name="map-outline"></ion-icon> Bring a star map or mobile app.</li>
        <li><ion-icon name="planet-outline"></ion-icon> Spot bright objects like Jupiter or Venus.</li>
        <li><ion-icon name="binoculars-outline"></ion-icon> Try binoculars before a telescope.</li>
      </ul>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>